<meta charset="utf-8">
<meta name="language" content="Russian">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no">
<meta name="cmsmagazine" content="7a916982225f80c18acab18934b706a8" />
<title>@title</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700;900&display=swap">
<link rel="stylesheet" href="css/main.min.css?v=hash">